$white: #fff;
$red: #ff3838;
$blue: #00a8ff;
$grey: #7f8fa6;
$green: #2ecc71;
$yellow: #f1c40f;
$orange: #ff9f43;
$purple: #5f27cd;

$theme-default-bg-color-1: #fff;
$theme-default-font-color-1: #595959;
$theme-default-accent-color-1: #dadfe8;
$theme-default-bg-color-2: #dfe3e6;
$theme-default-font-color-2: #212529;

$theme-dark-bg-color-1: #565965;
$theme-dark-font-color-1: #ffffff;
$theme-dark-accent-color-1: #383b4b;
$theme-dark-bg-color-2: #565965;
$theme-dark-font-color-2: #d3d3d3;

$theme-light-bg-color-1: #fff;
$theme-light-font-color-1: #595959;
$theme-light-accent-color-1: #dadfe8;
$theme-light-bg-color-2: #fff;
$theme-light-font-color-2: #595959;

$modal-background-color: rgba(0, 0, 0, 0.5);

$default: $grey !default;
$success: $green !default;
$info: $blue !default;
$warning: $yellow !default;
$danger: $red !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "default": $default,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger
  ),
  $theme-colors
);

$category-colors: () !default;
$category-colors: map-merge(
  (
    "blue": $blue,
    "green": $green,
    "orange": $orange,
    "purple": $purple,
    "red": $red,
    "yellow": $yellow
  ),
  $category-colors
);
