.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 8px 0 0;
}

.button-container-no-padding {
  display: flex;
  justify-content: flex-end;
}

.button {
  border: none;
  cursor: pointer;
  margin: 0 0 0 5px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 0 16px;
  text-transform: uppercase;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  border-radius: 4px;
  will-change: transform, opacity;
  transition: opacity 15ms linear, background-color 15ms linear;

  &:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border: none;
  }

  &:focus {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border: none;
    outline: none;
  }
}
@each $color, $value in $theme-colors {
  .button-#{$color} {
    background-color: $value;
    color: $white;

    &:hover {
      background-color: darken($value, 10%);
      color: $white;
    }
  }
}

.theme-default {
  .list-button {
    color: $theme-default-font-color-1;

    &:hover {
      background-color: darken($theme-default-bg-color-2, 10%);
      color: darken($theme-default-font-color-1, 10%);
    }
  }
}

.theme-dark {
  .list-button {
    color: $theme-dark-font-color-1;

    &:hover {
      background-color: darken($theme-dark-bg-color-2, 10%);
      color: darken($theme-dark-font-color-1, 10%);
    }
  }
}

.theme-light {
  .list-button {
    color: $theme-light-font-color-1;

    &:hover {
      background-color: darken($theme-light-bg-color-2, 10%);
      color: darken($theme-light-font-color-1, 10%);
    }
  }
}
