.category {
    display: inline-block;
    padding: 0 2px 0 4px;
}

.category-blue {
    color: $blue;
}

.category-green {
    color: $green;
}

.category-ornage {
    color: $orange;
}

.category-purple {
    color: $purple;
}

.category-red {
    color: $red;
}

.category-yellow {
    color: $yellow;
}
