// .dropdown-container {
// position: fixed;
// top: 0;
// left: 0;
// width: 100vw;
// height: 100vh;
// background-color: #fff;
// z-index: 900;

//   align-items: center;
//   background-color: $modal-background-color !important;
//   flex-wrap: nowrap;
//   height: 100vh;
//   max-height: 100vh;
//   justify-content: center;
//   left: 0;
//   position: fixed;
//   top: 0;
//   width: 100vw;
.dropdown {
  border-radius: 4px;
  flex-direction: column;
  left: 0;
  min-width: 160px;
  padding: 0 0 5px;
  position: absolute;
  top: 0;
  transform: translate3d(0px, 40px, 0px);
  will-change: transform;
  z-index: 1000;
  .dropdown-title {
    display: flex;
    margin: 0 5px 5px;
    .dropdown-title-text {
      align-self: center;
      flex-grow: 1;
      font-weight: 700;
      margin-left: 20px;
      text-align: center;
    }
    i {
      cursor: pointer;
      padding: 10px 5px;
    }
  }
  .dropdown-element {
    align-self: stretch;
    cursor: pointer;
    flex-grow: 1;
    padding: 6px 12px;
  }
}
//}

.theme-default {
  .dropdown {
    background-color: $theme-default-bg-color-1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: $theme-default-font-color-1;
    .dropdown-title {
      border-bottom: 1px solid $theme-default-accent-color-1;
    }
    .dropdown-element {
      &:hover {
        background-color: $theme-default-accent-color-1;
        color: darken($theme-default-font-color-2, 10%);
      }
    }
  }
}
.theme-dark {
  .dropdown {
    background-color: $theme-dark-bg-color-1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: $theme-dark-font-color-2;
    .dropdown-title {
      border-bottom: 1px solid $theme-dark-accent-color-1;
    }
    .dropdown-element {
      &:hover {
        background-color: $theme-dark-accent-color-1;
        color: darken($theme-dark-font-color-1, 10%);
      }
    }
  }
}
.theme-light {
  .dropdown {
    background-color: $theme-light-bg-color-1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: $theme-light-font-color-1;
    .dropdown-title {
      border-bottom: 1px solid $theme-light-accent-color-1;
    }
    .dropdown-element {
      &:hover {
        background-color: $theme-light-accent-color-1;
        color: darken($theme-light-font-color-2, 10%);
      }
    }
  }
}
