.main-footer-container {
    bottom: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 0;
    position: absolute;
    text-align: center;
    width: 100vw;
    z-index: 1;
}
.theme-default {
    .main-footer-container {
        color: $white;
    }
}
.theme-dark {
    .main-footer-container {
        color: $white;
    }
}
.theme-light {
    .main-footer-container {
        color: $theme-light-font-color-shadow;
    }
}
