.list-container {
    display: flex;
    overflow: hidden;
    padding: 0 8px 31px;
    .list {
        border-radius: 4px;
        display: flex;
        flex-basis: 0;
        flex-direction: column;
        flex-grow: 1;
        margin-right: 8px;
        max-height: 100%;
        max-width: 30vw;
        .list-header {
            display: flex;
            justify-content: space-between;
            .list-title {
                font-size: 16px;
                font-weight: 700;
                overflow: hidden;
                overflow-wrap: break-word;
                padding: 12px 12px 12px 20px;
            }
            .button-container {
                display: flex;
                padding: 0 !important;
                position: relative;
                .list-button {
                    align-self: center;
                    border-radius: 4px;
                    cursor: pointer;
                    margin-right: 8px;
                    padding: 6px 9px;
                }
                .dropdown {
                    border-radius: 4px;
                    flex-direction: column;
                    left: 0;
                    min-width: 160px;
                    padding: 0 0 5px;
                    position: absolute;
                    top: 0;
                    transform: translate3d(0px,40px,0px);
                    will-change: transform;
                    z-index: 1000;
                    .dropdown-title {
                        display: flex;
                        margin: 0 5px 5px;
                        .dropdown-title-text {
                            align-self: center;
                            flex-grow: 1;
                            margin-left: 20px;
                            text-align: center;
                        }
                        i {
                            cursor: pointer;
                            padding: 10px 5px;
                        }
                    }
                    .dropdown-element {
                        align-self: stretch;
                        color: #333;
                        cursor: pointer;
                        flex-grow: 1;
                        padding: 6px 12px;
                    }
                }
            }
        }
        .list-body {
            flex-grow: 1;
            margin: 0 4px;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0 4px;
            .list-element {
                border-radius: 4px;
                cursor: pointer;
                display: flex;
                margin-bottom: 8px;
                text-decoration: none;
                .position {
                    align-self: stretch;
                    display: flex;
                    flex-direction: column;
                    .position-element {
                        display: flex;
                        flex-grow: 1;
                        font-size: 12px;
                        padding: 0 8px;
                        i {
                            align-self: center;
                        }
                    }
                    .promote {
                        // border-bottom-right-radius: 4px;
                        // border-top-right-radius: 4px;
                        align-items: stretch;
                        border-radius: 4px;
                        display: flex;
                        flex-grow: 1;
                        font-size: 14px;
                        padding: 0 6px;
                        i {
                            align-self: center;
                        }
                    }
                    .position-up {
                        border-top-right-radius: 4px;
                    }
                    .position-down {
                        border-bottom-right-radius: 4px;
                    }
                }
                .title {
                    align-self: center;
                    flex-grow: 1;
                    overflow: hidden;
                    padding: 8px;
                    text-overflow: ellipsis;
                    white-space: wrap;
                }
                .status {
                    align-self: center;
                    display: flex;
                    font-size: 20px;
                    padding: 0 0 0 8px;
                    i {
                        align-self: center;
                    }
                }
            }
            .status-closed {
                .position {
                    border-left: 1px solid transparent;
                }
                .title {
                    text-decoration: line-through;
                }
            }
        }
        .list-footer {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            cursor: pointer;
            flex-shrink: 0;
            font-weight: 700;
            overflow: hidden;
            overflow-wrap: break-word;
            padding: 8px 0 8px 20px;
            &:hover {
                text-decoration: underline;
            }
            i {
                padding-right: 4px;
            }
        }
    }
    .add-list {
        align-self: baseline;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 700;
        padding: 8px;
    }
}

.theme-default {
    .list-container {
        .list {
            background-color: $theme-default-list-background;
            .list-header {
                .button-container {
                    .dropdown {
                        background-color: $theme-default-element;
                        box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
                        .dropdown-title {
                            border-bottom: 1px solid $theme-default-list-background-shadow;
                            i {
                                color: $theme-default-font-color;
                                &:hover {
                                    color: $theme-default-font-color-shadow;
                                }
                            }
                        }
                        .dropdown-element {
                            color: $theme-default-font-color;
                            &:hover {
                                background-color: $theme-default-element-shadow;
                                color: $theme-default-font-color-shadow;
                            }
                        }
                    }
                }
            }
            .list-body {
                .list-element {
                    background-color: $theme-default-element;
                    color: $theme-default-font-color;
                    &:hover {
                        background-color: $theme-default-element-shadow;
                        color: $theme-default-font-color-shadow;
                    }
                    .position {
                        .promote {
                            background-color: $red;
                            color: $white;
                            &:hover {
                                background-color: $red-shadow;
                                color: $white;
                            }
                        }
                        .position-up {
                            border-bottom: 1px solid $theme-default-element-shadow;
                            border-left: 1px solid $theme-default-element-shadow;
                            &:hover {
                                background-color: $transparent-shadow;
                            }
                        }
                        .position-down {
                            border-left: 1px solid $theme-default-element-shadow;
                            &:hover {
                                background-color: $transparent-shadow;
                            }
                        }
                    }
                }
                .status-open {
                    &:hover {
                        .position {
                            .position-up {
                                border-bottom: 1px solid $transparent-shadow;
                                border-left: 1px solid $transparent-shadow;
                            }
                            .position-down {
                                border-left: 1px solid $transparent-shadow;
                            }
                        }
                    }
                    .status {
                        color: $blue;
                        &:hover {
                            color: $blue-highlight;
                        }
                    }
                }
                .status-closed {
                    .status {
                        color: $blue;
                        &:hover {
                            color: $blue-highlight;
                        }
                    }
                }
            }
            .list-footer {
                color: $theme-default-font-color;
                &:hover {
                    background-color: $theme-default-list-background-shadow;
                    color: $theme-default-font-color-shadow;
                }
            }
        }
        .add-list {
            background-color: $theme-default-background-shadow;
            color: $white;
            &:hover {
                background-color: $theme-default-background-highlight;
                color: $theme-default-font-color-shadow;
            }
        }
    }
}
.theme-dark {
    .list-container {
        .list {
            background-color: $theme-dark-background-shadow;
            .list-header {
                .button-container {
                    .dropdown {
                        background-color: $theme-dark-element;
                        box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
                        .dropdown-title {
                            border-bottom: 1px solid $theme-dark-background-highlight;
                            i {
                                color: $theme-dark-font-color;
                                &:hover {
                                    color: $theme-dark-font-color-highlight;
                                }
                            }
                        }
                        .dropdown-element {
                            color: $theme-dark-font-color;
                            &:hover {
                                background-color: $theme-dark-element-highlight;
                                color: $theme-dark-font-color-highlight;
                            }
                        }
                    }
                }
            }
            .list-body {
                .list-element {
                    background-color: $theme-dark-element;
                    color: $theme-dark-font-color;
                    &:hover {
                        background-color: $theme-dark-element-highlight;
                        color: $theme-dark-font-color-highlight;
                    }
                    .position {
                        .promote {
                            background-color: $red;
                            color: $theme-dark-font-color;
                            &:hover {
                                background-color: $red-shadow;
                                color: $theme-dark-font-color-highlight;
                            }
                        }
                        .position-up {
                            border-bottom: 1px solid $theme-dark-element-highlight;
                            border-left: 1px solid $theme-dark-element-highlight;
                            &:hover {
                                background-color: $transparent-highlight;
                            }
                        }
                        .position-down {
                            border-left: 1px solid $theme-dark-element-highlight;
                            &:hover {
                                background-color: $transparent-highlight;
                            }
                        }
                    }
                }
                .status-open {
                    &:hover {
                        .position {
                            .position-up {
                                border-bottom: 1px solid $transparent-highlight;
                                border-left: 1px solid $transparent-highlight;
                            }
                            .position-down {
                                border-left: 1px solid $transparent-highlight;
                            }
                        }
                    }
                    .status {
                        color: $blue;
                        &:hover {
                            color: $blue-highlight;
                        }
                    }
                }
                .status-closed {
                    .status {
                        color: $blue;
                        &:hover {
                            color: $blue-highlight;
                        }
                    }
                }
            }
            .list-footer {
                color: $theme-dark-font-color;
                &:hover {
                    background-color: $theme-dark-background-highlight;
                    color: $theme-dark-font-color-highlight;
                }
            }
        }
        .add-list {
            background-color: $theme-dark-background-shadow;
            color: $theme-dark-font-color;
            &:hover {
                background-color: $theme-dark-background-highlight;
                color: $theme-dark-font-color-highlight;
            }
        }
    }
}
.theme-light {
    .list-container {
        .list {
            background-color: $theme-light-background-highlight;
            .list-header {
                .button-container {
                    .dropdown {
                        background-color: $theme-light-element;
                        box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
                        .dropdown-title {
                            border-bottom: 1px solid $theme-light-background-shadow;
                            i {
                                color: $theme-light-font-color;
                                &:hover {
                                    color: $theme-light-font-color-shadow;
                                }
                            }
                        }
                        .dropdown-element {
                            color: $theme-light-font-color;
                            &:hover {
                                background-color: $theme-light-element-shadow;
                                color: $theme-light-font-color-shadow;
                            }
                        }
                    }
                }
            }
            .list-body {
                .list-element {
                    background-color: $theme-light-element;
                    color: $theme-light-font-color;
                    &:hover {
                        background-color: $theme-light-element-shadow;
                        color: $theme-light-font-color-shadow;
                    }
                    .position {
                        .promote {
                            background-color: $red;
                            color: $white;
                            &:hover {
                                background-color: $red-shadow;
                                color: darken(#fff,10%);
                            }
                        }
                        .position-up {
                            border-bottom: 1px solid $theme-light-element-highlight;
                            border-left: 1px solid $theme-light-element-highlight;
                            &:hover {
                                background-color: $transparent-highlight;
                            }
                        }
                        .position-down {
                            border-left: 1px solid $theme-light-element-highlight;
                            &:hover {
                                background-color: $transparent-highlight;
                            }
                        }
                    }
                }
                .status-open {
                    &:hover {
                        .position {
                            .position-up {
                                border-bottom: 1px solid $transparent-highlight;
                                border-left: 1px solid $transparent-highlight;
                            }
                            .position-down {
                                border-left: 1px solid $transparent-highlight;
                            }
                        }
                    }
                    .status {
                        color: $blue-highlight;
                        &:hover {
                            color: $blue;
                        }
                    }
                }
                .status-closed {
                    .status {
                        color: $blue-highlight;
                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }
            .list-footer {
                color: $theme-light-font-color;
                &:hover {
                    background-color: $theme-light-element-shadow;
                    color: $theme-light-font-color-shadow;
                }
            }
        }
        .add-list {
            background-color: $theme-light-background-shadow;
            color: $theme-light-font-color;
            &:hover {
                background-color: $theme-light-background-highlight;
                color: $theme-light-font-color-shadow;
            }
        }
    }
}
