.list-container {
    display: flex;
    overflow: hidden;
    padding: 0 8px 31px;
    .list {
        display: flex;
        flex-basis: 0;
        flex-direction: column;
        flex-grow: 1;
        margin-right: 8px;
        max-height: 100%;
        max-width: 30vw;
        border-radius: 4px;
        .list-header {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            display: flex;
            justify-content: space-between;
            .list-title {
                font-size: 16px;
                font-weight: 700;
                overflow: hidden;
                overflow-wrap: break-word;
                padding: 8px 12px;
            }
            .button-container {
                display: flex;
                padding: 0 !important;
                position: relative;
                .list-button {
                    align-self: center;
                    border-radius: 4px;
                    cursor: pointer;
                    margin-right: 4px;
                    padding: 6px 9px;
                }
                .dropdown {
                    border-radius: 4px;
                    flex-direction: column;
                    left: 0;
                    min-width: 160px;
                    padding: 0 0 5px;
                    position: absolute;
                    top: 0;
                    transform: translate3d(0px,40px,0px);
                    will-change: transform;
                    z-index: 1000;
                    .dropdown-title {
                        display: flex;
                        margin: 0 5px 5px;
                        .dropdown-title-text {
                            align-self: center;
                            flex-grow: 1;
                            margin-left: 20px;
                            text-align: center;
                            font-weight: 600;
                        }
                        i {
                            cursor: pointer;
                            padding: 10px 5px;
                        }
                    }
                    .dropdown-element {
                        align-self: stretch;
                        cursor: pointer;
                        flex-grow: 1;
                        padding: 6px 12px;
                    }
                }
            }
        }
        .list-body {
            flex-grow: 1;
            overflow-x: hidden;
            overflow-y: auto;
            .list-element {
                cursor: pointer;
                display: flex;
                text-decoration: none;
                .position {
                    align-self: stretch;
                    display: flex;
                    flex-direction: column;
                    .position-element {
                        display: flex;
                        flex-grow: 1;
                        font-size: 14px;
                        padding: 0 14px;
                        i {
                            align-self: center;
                        }
                    }
                    .promote {
                        align-items: stretch;
                        display: flex;
                        flex-grow: 1;
                        font-size: 18px;
                        padding: 0 11px 0 10px;
                        i {
                            align-self: center;
                        }
                    }
                    .position-up {
                        border-top-right-radius: 4px;
                    }
                    .position-down {
                        border-bottom-right-radius: 4px;
                    }
                }
                .title {
                    align-self: center;
                    flex-grow: 1;
                    overflow: hidden;
                    padding: 8px;
                    text-overflow: ellipsis;
                    white-space: wrap;
                }
                .status {
                    align-self: center;
                    display: flex;
                    font-size: 22px;
                    padding: 8px 0 8px 8px;
                    i {
                        align-self: center;
                    }
                }
            }
            .status-closed {
                .position {
                    border-left: 1px solid transparent;
                }
                .title {
                    text-decoration: line-through;
                }
            }
        }
        .list-footer {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            cursor: pointer;
            flex-shrink: 0;
            font-weight: 700;
            overflow: hidden;
            overflow-wrap: break-word;
            padding: 8px 12px;
            &:hover {
                text-decoration: underline;
            }
            i {
                padding-right: 4px;
            }
        }
    }
    .add-list {
        align-self: baseline;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 700;
        padding: 8px 12px;
    }
}

$theme-default-list-bg-color-1: #fff;
$theme-default-list-font-color-1: #595959;
$theme-default-list-accent-color-1: #DADFE8;
$theme-default-list-bg-color-2: #DFE3E6;
$theme-default-list-font-color-2: #212529;
.theme-default {
    .list-container {
        .list {
            background-color: $theme-default-list-bg-color-2;
            color: $theme-default-list-font-color-2;
            box-shadow: 0 3px 6px rgba(0,0,0,0.32);
            .list-header {
                background-color: $theme-default-list-bg-color-2;
                color: $theme-default-list-font-color-2;
                .button-container {
                    .dropdown {
                        background-color: $theme-default-list-bg-color-1;
                        color: $theme-default-list-font-color-1;
                        .dropdown-title {
                            border-bottom: 1px solid $theme-default-list-accent-color-1;
                        }
                        .dropdown-element {
                            &:hover {
                                background-color: $theme-default-list-accent-color-1;
                                color: darken($theme-default-list-font-color-2, 10%);
                            }
                        }
                    }
                }
            }
            .list-body {
                .list-element {
                    background-color: $theme-default-list-bg-color-1;
                    color: $theme-default-list-font-color-1;
                    border-bottom: 1px solid $theme-default-list-accent-color-1;
                    &:first-child {
                        border-top: 1px solid $theme-default-list-accent-color-1;
                    }
                    &:hover {
                        background-color: darken($theme-default-list-bg-color-1, 10%);
                        color: darken($theme-default-list-font-color-1, 10%);
                    }
                    .position {
                        border-left: 1px solid $theme-default-list-accent-color-1;
                        .position-element {
                            &:hover {
                                background-color: darken($theme-default-list-accent-color-1, 10%);
                                color: darken($theme-default-list-font-color-1,10%);
                            }
                        }
                        .promote {
                            background-color: $red;
                            color: $white;
                            &:hover {
                                background-color: $red-shadow;
                            }
                        }
                        .position-down {
                            border-top: 1px solid $theme-default-list-accent-color-1;
                        }
                    }
                    .status {
                        color: $blue;
                        &:hover {
                            color: darken($blue, 10%);
                        }
                    }
                }
            }
            .list-footer {
                background-color: $theme-default-list-bg-color-2;
                color: $theme-default-list-font-color-2;
                &:hover {
                    background-color: darken($theme-default-list-bg-color-2, 10%);
                    color: darken($theme-default-list-font-color-2, 10%);
                }
            }
        }
        .add-list {
            box-shadow: 0 3px 6px rgba(0,0,0,0.32);
            background-color: $theme-default-list-bg-color-2;
            color: $theme-default-list-font-color-2;
            &:hover {
                background-color: darken($theme-default-list-bg-color-2, 10%);
                color: darken($theme-default-list-font-color-2, 10%);
            }
        }
    }
}

$theme-dark-list-bg-color-1: #565965;
$theme-dark-list-font-color-1: #FFFFFF;
$theme-dark-list-accent-color-1: #383B4B;
$theme-dark-list-bg-color-2: #565965;
$theme-dark-list-font-color-2: #FFFFFF;
.theme-dark {
    .list-container {
        .list {
            background-color: $theme-dark-list-bg-color-2;
            color: $theme-dark-list-font-color-2;
            box-shadow: 0 3px 6px rgba(0,0,0,0.32);
            .list-header {
                background-color: $theme-dark-list-bg-color-2;
                color: $theme-dark-list-font-color-2;
                .button-container {
                    .dropdown {
                        background-color: $theme-dark-list-bg-color-1;
                        color: $theme-dark-list-font-color-1;
                        .dropdown-title {
                            border-bottom: 1px solid $theme-dark-list-accent-color-1;
                        }
                        .dropdown-element {
                            &:hover {
                                background-color: $theme-dark-list-accent-color-1;
                                color: darken($theme-dark-list-font-color-2, 10%);
                            }
                        }
                    }
                }
            }
            .list-body {
                .list-element {
                    background-color: $theme-dark-list-bg-color-1;
                    color: $theme-dark-list-font-color-1;
                    border-bottom: 1px solid $theme-dark-list-accent-color-1;
                    &:first-child {
                        border-top: 1px solid $theme-dark-list-accent-color-1;
                    }
                    &:hover {
                        background-color: darken($theme-dark-list-bg-color-1, 10%);
                        color: darken($theme-dark-list-font-color-1, 10%);
                    }
                    .position {
                        border-left: 1px solid $theme-dark-list-accent-color-1;
                        .position-element {
                            &:hover {
                                background-color: darken($theme-dark-list-accent-color-1, 10%);
                                color: darken($theme-dark-list-font-color-1,10%);
                            }
                        }
                        .promote {
                            background-color: $red;
                            color: $white;
                            &:hover {
                                background-color: $red-shadow;
                            }
                        }
                        .position-down {
                            border-top: 1px solid $theme-dark-list-accent-color-1;
                        }
                    }
                    .status {
                        color: $blue;
                        &:hover {
                            color: darken($blue, 10%);
                        }
                    }
                }
            }
            .list-footer {
                background-color: $theme-dark-list-bg-color-2;
                color: $theme-dark-list-font-color-2;
                &:hover {
                    background-color: darken($theme-dark-list-bg-color-2, 10%);
                    color: darken($theme-dark-list-font-color-2, 10%);
                }
            }
        }
        .add-list {
            box-shadow: 0 3px 6px rgba(0,0,0,0.32);
            background-color: $theme-dark-list-bg-color-2;
            color: $theme-dark-list-font-color-2;
            &:hover {
                background-color: darken($theme-dark-list-bg-color-2, 10%);
                color: darken($theme-dark-list-font-color-2, 10%);
            }
        }
    }
}

$theme-light-list-bg-color-1: #fff;
$theme-light-list-font-color-1: #595959;
$theme-light-list-accent-color-1: #DADFE8;
$theme-light-list-bg-color-2: #fff;
$theme-light-list-font-color-2: #595959;
.theme-light {
    .list-container {
        .list {
            background-color: $theme-light-list-bg-color-2;
            color: $theme-light-list-font-color-2;
            box-shadow: 0 3px 6px rgba(0,0,0,0.32);
            .list-header {
                background-color: $theme-light-list-bg-color-2;
                color: $theme-light-list-font-color-2;
                .button-container {
                    .dropdown {
                        background-color: $theme-light-list-bg-color-1;
                        color: $theme-light-list-font-color-1;
                        .dropdown-title {
                            border-bottom: 1px solid $theme-light-list-accent-color-1;
                        }
                        .dropdown-element {
                            &:hover {
                                background-color: $theme-light-list-accent-color-1;
                                color: darken($theme-light-list-font-color-2, 10%);
                            }
                        }
                    }
                }
            }
            .list-body {
                .list-element {
                    background-color: $theme-light-list-bg-color-1;
                    color: $theme-light-list-font-color-1;
                    border-bottom: 1px solid $theme-light-list-accent-color-1;
                    &:first-child {
                        border-top: 1px solid $theme-light-list-accent-color-1;
                    }
                    &:hover {
                        background-color: darken($theme-light-list-bg-color-1, 10%);
                        color: darken($theme-light-list-font-color-1, 10%);
                    }
                    .position {
                        border-left: 1px solid $theme-light-list-accent-color-1;
                        .position-element {
                            &:hover {
                                background-color: darken($theme-light-list-accent-color-1, 10%);
                                color: darken($theme-light-list-font-color-1,10%);
                            }
                        }
                        .promote {
                            background-color: $red;
                            color: $white;
                            &:hover {
                                background-color: $red-shadow;
                            }
                        }
                        .position-down {
                            border-top: 1px solid $theme-light-list-accent-color-1;
                        }
                    }
                    .status {
                        color: $blue;
                        &:hover {
                            color: darken($blue, 10%);
                        }
                    }
                }
            }
            .list-footer {
                background-color: $theme-light-list-bg-color-2;
                color: $theme-light-list-font-color-2;
                &:hover {
                    background-color: darken($theme-light-list-bg-color-2, 10%);
                    color: darken($theme-light-list-font-color-2, 10%);
                }
            }
        }
        .add-list {
            box-shadow: 0 3px 6px rgba(0,0,0,0.32);
            background-color: $theme-light-list-bg-color-2;
            color: $theme-light-list-font-color-2;
            &:hover {
                background-color: darken($theme-light-list-bg-color-2, 10%);
                color: darken($theme-light-list-font-color-2, 10%);
            }
        }
    }
}
