.main-title-container {
    display: flex;
    justify-content: space-between;
    .main-title {
    	font-size: 34px;
    	font-weight: lighter;
    	padding: 8px 10px;
    }
    .flex-right {
        display: flex;
        .import-export {
            display: flex;
            padding: 0 5px 0 0;
            i {
                padding: 10px;
                align-self: center;
                font-size: 18px;
                cursor: pointer;

                &:hover {
                    color: #ccc;
                }
            }
        }
        .theme-picker {
            display: flex;
            padding: 0 8px 0 0;
            align-items: center;
            vertical-align: middle;
            font-size: 16px;
            align-self: center;

            .theme {
                margin: 0 0 0 8px;
                width: 30px;
                height: 30px;
                border: 2px solid #fff;
                align-self: center;
                cursor: pointer;
                border-radius: 4px;
            }
            .theme-picker-default {
                background-color: #0056B5;
            }
            .theme-picker-dark {
                background-color: #2f3640;
            }
            .theme-picker-light {
                background-color: #f5f6f7;
            }
        }
    }
}
