// .button-container {
//   display: flex;
//   justify-content: flex-end;
//   padding: 10px 0 0;
// }

.tag {
    display: inline-block;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    margin: 0 0 0 2px;
}

@each $color, $value in $theme-colors {
  .tag-#{$color} {
      background-color: $value;
      color: $white;

      &:hover {
        background-color: darken($value, 10%);
        color: $white;
      }
  }
}
