.tag {
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin: 0 0 0 4px;
    padding: 2px 4px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
@each $color, $value in $theme-colors {
    .tag-#{$color} {
        border: 2px solid $value;
        &:hover {
            border: 2px solid darken($value,10%);
        }
    }
    .theme-default .tag-#{$color} {
        background-color: $white;
        color: $theme-default-font-color;
    }
    .theme-dark .tag-#{$color} {
        background-color: $theme-dark-element;
        color: $theme-dark-font-color;
    }
    .theme-light .tag-#{$color} {
        background-color: $white;
        color: $theme-light-font-color;
    }
}
