
.theme-default {
  color: $theme-default-font-color;
  background-color: $theme-default-background;

  .main-title-container {
    color: $white;

    .flex-right {
      .import-export {
        i {
          color: $white;

          &:hover {
            color: darken($white, 10%);
          }
        }
      }

      .theme-picker {
        color: $white;
      }
    }
  }

  .list-container {
    .list {
      background-color: $theme-default-list-background;

      .list-header {
        .button-container {
          .list-button {
            color: $theme-default-font-color;

            &:hover {
              background-color: $theme-default-list-background-shadow;
              color: $theme-default-font-color-shadow;
            }
          }

          .dropdown {
            background-color: $theme-default-element;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

            .dropdown-title {
              border-bottom: 1px solid $theme-default-list-background-shadow;

              i {
                color: $theme-default-font-color;

                &:hover {
                  color: $theme-default-font-color-shadow;
                }
              }
            }

            .dropdown-element {
              color: $theme-default-font-color;

              &:hover {
                background-color: $theme-default-element-shadow;
                color: $theme-default-font-color-shadow;
              }
            }
          }
        }
      }

      .list-body {
        .list-element {
          background-color: $theme-default-element;
          color: $theme-default-font-color;

          &:hover {
            background-color: $theme-default-element-shadow;
            color: $theme-default-font-color-shadow;
          }

          .position {
            .promote {
              color: $white;
              background-color: $red;

              &:hover {
                background-color: $red-shadow;
                color: $white;
              }
            }

            .position-up {
              border-left: 1px solid $theme-default-element-shadow;
              border-bottom: 1px solid $theme-default-element-shadow;

              &:hover {
                background-color: $transparent-shadow;
              }
            }

            .position-down {
              border-left: 1px solid $theme-default-element-shadow;

              &:hover {
                background-color: $transparent-shadow;
              }
            }
          }
        }

        .status-open {
          &:hover {
            .position {
              .position-up {
                border-bottom: 1px solid $transparent-shadow;
                border-left: 1px solid $transparent-shadow;
              }

              .position-down {
                border-left: 1px solid $transparent-shadow;
              }
            }
          }

          .status {
            color: $blue;

            &:hover {
              color: $blue-highlight;
            }
          }
        }

        .status-closed {
          .status {
            color: $blue;

            &:hover {
              color: $blue-highlight;
            }
          }
        }
      }

      .list-footer {
        color: $theme-default-font-color;

        &:hover {
          background-color: $theme-default-list-background-shadow;
          color: $theme-default-font-color-shadow;
        }
      }
    }

    .add-list {
      color: $white;
      background-color: $theme-default-background-shadow;

      &:hover {
        background-color: $theme-default-background-highlight;
        color: $theme-default-font-color-shadow;
      }
    }
  }

  .modal-container {
    background-color: $theme-default-modal-cover;

    .element-modal {
      background-color: $theme-default-list-background;
      color: $theme-default-font-color;

      .title-container {
        input {
          background-color: $theme-default-element-highlight;
          color: $theme-default-font-color;

          &::placeholder {
            color: $theme-default-font-color-highlight;
          }

          &:active,
          &:focus {
            box-shadow: inset 0 0 0 2px $blue-shadow;
          }
        }
      }

      .description-container {
        textarea {
          background-color: $theme-default-element-highlight;
          color: $theme-default-font-color;

          &::placeholder {
            color: $theme-default-font-color-highlight;
          }

          &:active,
          &:focus {
            box-shadow: inset 0 0 0 2px $blue-shadow;
          }
        }
      }
    }

    .confirmation-modal {
      background-color: $theme-default-list-background;
      color: $theme-default-font-color;
    }

    .list-rename-modal {
      background-color: $theme-default-list-background;
      color: $theme-default-font-color;

      .input-container {
        input {
          &:active,
          &:focus {
            box-shadow: inset 0 0 0 2px $blue;
          }
        }
      }
    }
  }

  .main-footer-container {
    color: $white;
  }

  .userAlert-container {
    .userAlert {
      color: $white;

      .icon {}

      .text {
        background-color: $white;
        color: $theme-default-font-color;
      }
    }
  }
}

.theme-dark {
  color: $theme-dark-font-color;
  background-color: $theme-dark-background;

  .main-title-container {
    color: $theme-dark-font-color;

    .flex-right {
      .import-export {
        i {
          color: $theme-dark-font-color;

          &:hover {
            color: $theme-dark-font-color-highlight;
          }
        }
      }

      .theme-picker {
        color: $theme-dark-font-color;
      }
    }
  }

  .list-container {
    .list {
      background-color: $theme-dark-background-shadow;

      .list-header {
        .button-container {
          .list-button {
            color: $theme-dark-font-color;

            &:hover {
              background-color: $theme-dark-background-highlight;
              color: $theme-dark-font-color-highlight;
            }
          }

          .dropdown {
            background-color: $theme-dark-element;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

            .dropdown-title {
              border-bottom: 1px solid $theme-dark-background-highlight;

              i {
                color: $theme-dark-font-color;

                &:hover {
                  color: $theme-dark-font-color-highlight;
                }
              }
            }

            .dropdown-element {
              color: $theme-dark-font-color;

              &:hover {
                background-color: $theme-dark-element-highlight;
                color: $theme-dark-font-color-highlight;
              }
            }
          }
        }
      }

      .list-body {
        .list-element {
          background-color: $theme-dark-element;
          color: $theme-dark-font-color;

          &:hover {
            background-color: $theme-dark-element-highlight;
            color: $theme-dark-font-color-highlight;
          }

          .position {
            .promote {
              color: $theme-dark-font-color;
              background-color: $red;

              &:hover {
                background-color: $red-shadow;
                color: $theme-dark-font-color-highlight;
              }
            }

            .position-up {
              border-left: 1px solid $theme-dark-element-highlight;
              border-bottom: 1px solid $theme-dark-element-highlight;

              &:hover {
                background-color: $transparent-highlight;
              }
            }

            .position-down {
              border-left: 1px solid $theme-dark-element-highlight;

              &:hover {
                background-color: $transparent-highlight;
              }
            }
          }
        }

        .status-open {
          &:hover {
            .position {
              .position-up {
                border-bottom: 1px solid $transparent-highlight;
                border-left: 1px solid $transparent-highlight;
              }

              .position-down {
                border-left: 1px solid $transparent-highlight;
              }
            }
          }

          .status {
            color: $blue;

            &:hover {
              color: $blue-highlight;
            }
          }
        }

        .status-closed {
          .status {
            color: $blue;

            &:hover {
              color: $blue-highlight;
            }
          }
        }
      }

      .list-footer {
        color: $theme-dark-font-color;

        &:hover {
          background-color: $theme-dark-background-highlight;
          color: $theme-dark-font-color-highlight;
        }
      }
    }

    .add-list {
      color: $theme-dark-font-color;
      background-color: $theme-dark-background-shadow;

      &:hover {
        background-color: $theme-dark-background-highlight;
        color: $theme-dark-font-color-highlight;
      }
    }
  }

  .modal-container {
    background-color: $theme-dark-modal-cover;

    .element-modal {
      background-color: $theme-dark-background;
      color: $theme-dark-font-color;

      .title-container {
        input {
          background-color: $theme-dark-element-highlight;
          color: $theme-dark-font-color;

          &::placeholder {
            color: $theme-dark-font-color;
          }

          &:active,
          &:focus {
            box-shadow: inset 0 0 0 2px $blue-shadow;
          }
        }
      }

      .description-container {
        textarea {
          background-color: $theme-dark-element-highlight;
          color: $theme-dark-font-color;

          &::placeholder {
            color: $theme-dark-font-color;
          }

          &:active,
          &:focus {
            box-shadow: inset 0 0 0 2px $blue-shadow;
          }
        }
      }
    }

    .confirmation-modal {
      background-color: $theme-dark-background;
      color: $theme-dark-font-color;
    }

    .list-rename-modal {
      background-color: $theme-dark-background;
      color: $theme-dark-font-color;

      .input-container {
        input {
          &:active,
          &:focus {
            box-shadow: inset 0 0 0 2px $blue;
          }
        }
      }
    }
  }

  .main-footer-container {
    color: $white;
  }

  .userAlert-container {
    .userAlert {
      color: $white;

      .icon {}

      .text {
        background-color: $theme-dark-background-shadow;
        color: $white;
      }
    }
  }
}

.theme-light {
  color: $theme-light-font-color;
  background-color: $theme-light-background;

  .main-title-container {
    color: $theme-light-font-color;

    .flex-right {
      .import-export {
        i {
          color: $theme-light-font-color;

          &:hover {
            color: $theme-light-font-color-shadow;
          }
        }
      }

      .theme-picker {
        color: $theme-light-font-color-highlight;

        .theme {}
      }
    }
  }

  .list-container {
    .list {
      background-color: $theme-light-background-highlight;

      .list-header {
        .button-container {
          .list-button {
            color: $theme-light-font-color;

            &:hover {
              background-color: $theme-light-background-shadow;
              color: $theme-light-font-color-shadow;
            }
          }

          .dropdown {
            background-color: $theme-light-element;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

            .dropdown-title {
              border-bottom: 1px solid $theme-light-background-shadow;

              i {
                color: $theme-light-font-color;

                &:hover {
                  color: $theme-light-font-color-shadow;
                }
              }
            }

            .dropdown-element {
              color: $theme-light-font-color;

              &:hover {
                background-color: $theme-light-element-shadow;
                color: $theme-light-font-color-shadow;
              }
            }
          }
        }
      }

      .list-body {
        .list-element {
          background-color: $theme-light-element;
          color: $theme-light-font-color;

          &:hover {
            background-color: $theme-light-element-shadow;
            color: $theme-light-font-color-shadow;
          }

          .position {
            .promote {
              color: $white;
              background-color: $red;

              &:hover {
                background-color: $red-shadow;
                color: darken(#fff, 10%);
              }
            }

            .position-up {
              border-left: 1px solid $theme-light-element-highlight;
              border-bottom: 1px solid $theme-light-element-highlight;

              &:hover {
                background-color: $transparent-highlight;
              }
            }

            .position-down {
              border-left: 1px solid $theme-light-element-highlight;

              &:hover {
                background-color: $transparent-highlight;
              }
            }
          }
        }

        .status-open {
          &:hover {
            .position {
              .position-up {
                border-bottom: 1px solid $transparent-highlight;
                border-left: 1px solid $transparent-highlight;
              }

              .position-down {
                border-left: 1px solid $transparent-highlight;
              }
            }
          }

          .status {
            color: $blue-highlight;

            &:hover {
              color: $blue;
            }
          }
        }

        .status-closed {
          .status {
            color: $blue-highlight;

            &:hover {
              color: $blue;
            }
          }
        }
      }

      .list-footer {
        color: $theme-light-font-color;

        &:hover {
          background-color: $theme-light-element-shadow;
          color: $theme-light-font-color-shadow;
        }
      }
    }

    .add-list {
      color: $theme-light-font-color;
      background-color: $theme-light-background-shadow;

      &:hover {
        background-color: $theme-light-background-highlight;
        color: $theme-light-font-color-shadow;
      }
    }
  }

  .modal-container {
    background-color: $theme-light-modal-cover;

    .element-modal {
      background-color: $theme-light-background;
      color: $theme-light-font-color;

      .title-container {
        input {
          background-color: $theme-light-element-highlight;
          color: $theme-light-font-color;

          &::placeholder {
            color: $theme-light-font-color;
          }

          &:active,
          &:focus {
            box-shadow: inset 0 0 0 2px $blue-shadow;
          }
        }
      }

      .description-container {
        textarea {
          background-color: $theme-light-element-highlight;
          color: $theme-light-font-color;

          &::placeholder {
            color: $theme-light-font-color;
          }

          &:active,
          &:focus {
            box-shadow: inset 0 0 0 2px $blue-shadow;
          }
        }
      }
    }

    .confirmation-modal {
      background-color: $theme-light-background;
      color: $theme-light-font-color;
    }

    .list-rename-modal {
      background-color: $theme-light-background;
      color: $theme-light-font-color;

      .input-container {
        input {
          &:active,
          &:focus {
            box-shadow: inset 0 0 0 2px $blue;
          }
        }
      }
    }
  }

  .main-footer-container {
    color: $grey-shadow;
  }

  .userAlert-container {
    .userAlert {
      color: $white;

      .icon {}

      .text {
        background-color: $white;
        color: $theme-light-font-color;
      }
    }
  }
}
