$white: #fff;
$red: #e74c3c;
$red-highlight: lighten($red, 20%);
$red-shadow: darken($red, 10%);
$blue: #00a8ff;
$blue-highlight: lighten($blue, 20%);
$blue-shadow: darken($blue, 10%);
$grey: #7f8fa6;
$grey-highlight: lighten($grey, 20%);
$grey-shadow: darken($grey, 10%);
$green: #2ecc71;
$green-highlight: lighten($green, 20%);
$green-shadow: darken($green, 10%);
$yellow: #f1c40f;
$yellow-highlight: lighten($yellow, 20%);
$yellow-shadow: darken($yellow, 10%);
$transparent-highlight: rgba(255,255,255,0.2);
$transparent-shadow: rgba(0,0,0,0.1);
$orange: #ff9f43;
$purple: #5f27cd;

$theme-default-list-bg-color-1: #fff;
$theme-default-list-font-color-1: #595959;
$theme-default-list-accent-color-1: #DADFE8;
$theme-default-list-bg-color-2: #DFE3E6;
$theme-default-list-font-color-2: #212529;

$theme-dark-list-bg-color-1: #565965;
$theme-dark-list-font-color-1: #FFFFFF;
$theme-dark-list-accent-color-1: #383B4B;
$theme-dark-list-bg-color-2: #565965;
$theme-dark-list-font-color-2: #FFFFFF;

$theme-light-list-bg-color-1: #fff;
$theme-light-list-font-color-1: #595959;
$theme-light-list-accent-color-1: #DADFE8;
$theme-light-list-bg-color-2: #fff;
$theme-light-list-font-color-2: #595959;

$default:    $grey !default;
$success:    $green !default;
$info:       $blue !default;
$warning:    $yellow !default;
$danger:     $red !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "default":    $default,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger
  ),
  $theme-colors
);

$category-colors: () !default;
$category-colors: map-merge(
  (
    "blue":     $blue,
    "green":    $green,
    "orange":   $orange,
    "purple":   $purple,
    "red":      $red,
    "yellow":   $yellow
  ),
  $category-colors
);
